<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VRCAA"
        tools:targetApi="s"
        >

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.VRCAA"
            android:fitsSystemWindows="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CrashActivity"
            android:exported="true"
            android:theme="@style/Theme.VRCAA"
            android:fitsSystemWindows="true">
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VRCAA"
            android:fitsSystemWindows="true">
        </activity>

        <service
            android:name=".service.PipelineService"
            android:foregroundServiceType="dataSync"/>

        <receiver android:name=".ui.widgets.FriendWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/friend_widget" />
        </receiver>

        <receiver
            android:name=".UpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="CUSTOM_ACTION_UPDATE_CANCEL"/>
                <action android:name="CUSTOM_ACTION_UPDATE_INSTALL"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cc.sovellus.vrcaa"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>